//Staff Profile
.sidebarContainer{
    display: flex;
    height: 100vh;
    width: 13%;
    position:absolute;
    background-color: #FFC7EC;
    overflow: hidden;

    //border-right: 0.1px solid gray;

    .sidebar-wrapper{
        // display: flex;
        // justify-content: center;
        // //align-items: center;
        // flex-wrap: ;
        // background-color: aquamarine;
        width: 100%;
        height: 100%;
        overflow: hidden;

       .profile-container{
        //border: 2px solid black;
        width: 100%;
        height: fit-content;
        margin-top: 15rem;
        line-height: 1;

        .users-name{
            text-align: center;
            width: 100%;
            //border: 1px solid black;
            font-size: 28px;
            font-weight: 600;
        }
        .staff-position{
            text-align: center;
            width: 100%;
            font-style: italic;
        }
       }

       .sidebar-button-container{
            display: block;
            margin-top: 100px;
            //border: 2px solid black;
            height: 40%;
        
            .sidebar-btn{
                //border: 1px solid black;
                display: flex;
                justify-content: center;
                
                ul{
                    list-style: none;
                    text-align: center;
                    li{
                        border: 1px solid black;
                        margin-top: 20px;
                        font-weight: 600;
                        font-size: 20px;
                        text-transform: uppercase;
                        border-radius: 10px;
                        padding: 10px;
                        background-color: #ff00aa;
                        color: #ffffff;
                        cursor: pointer;
                    }
                }
            }
       }
    }
}