.navbar{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color:rgb(255, 0, 107,0.5);
    position: fixed;

    .left{
        display: flex;
        justify-content:flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 300px;
        height: auto;
        gap: 10px;
       // border: 1px black solid;
        .logo{
            padding: 2px;
            img{
                //border: 1px black solid;
                width: 50px;
                height: auto;
            }
        }
        .logoName{
            font-size: 20px;
            font-weight: 600;
            span{
                line-height: 1;
                display: block;
                color: rgb(255, 255, 255);
            }
        }
        
    }

    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        font-weight: 400;
        margin-right: 10px;
        cursor: pointer;
    }
}